<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20283485698-h852m911dlphh3fa92279ho8jv09k5jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20283485698-h852m911dlphh3fa92279ho8jv09k5jc</string>
	<key>API_KEY</key>
	<string>AIzaSyBxxgNKaPjk7o5DViWoodPA7VokdcV1aN0</string>
	<key>GCM_SENDER_ID</key>
	<string>20283485698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.market.nativebase.hcs</string>
	<key>PROJECT_ID</key>
	<string>hcstasker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hcstasker-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20283485698:ios:107c5091c54a5667</string>
	<key>DATABASE_URL</key>
	<string>https://hcstasker-app.firebaseio.com</string>
</dict>
</plist>